{% extends "base.html" %}

{% block content %}

{%- set textes = page.extra.texte | split(pat="<hr>") -%}

<main id="main" class="mx-4 space-y-6">
	<div class="prose mx-auto">
		<h1>{{page.title}}</h1>
	</div>

	{%- for texte in textes -%}
	<section class="flex flex-col md:flex-row md:space-x-2 justify-evenly">
		<div class="lg:w-1/2 max-w-[60rem] flex flex-col items-center">
			<div class="w-fit prose prose-p:text-black">
				{{ texte | safe }}
			</div>
		</div>

		<div class="lg:w-1/2 max-w-full lg:max-w-[60rem]">
			<img alt="" src="
				{%- set image = 'img' ~ loop.index0 -%}
				{%- set image = page.extra[image] | default(value="") -%}
				{{ get_url(path="img/big/" ~ image ~ ".webp") }}" />
		</div>
	</section>
	{%- endfor -%}
</main>

{% endblock content %}
