<footer class="p-3 mt-20 bg-slate-300">
	<div class="flex flex-wrap items-start smfooter:items-center justify-end space-x-2">
		<span>
			Lili Bel est membre de
			<a class="inline font-bold" href="https://www.fiberartfever.com/artiste/lili-bel/">
				Fiber Art Fever !
				<img class="inline w-24" src="{{ get_url(path='img/fiberartfever.svg') }}" alt="" />
			</a>
		</span>
		<span>
			et de
			<a class="inline font-bold"
				href="https://www.adagp.fr/fr/jutilise-ou-vends-une-oeuvre/je-fais-une-demande-dautorisation-en-ligne">
				l'ADAGP
				<img class="inline w-24" src="{{ get_url(path='img/adagp.svg') }}" alt="" />
			</a>
		</span>
	</div>
</footer>
