<header class="py-6 w-full flex flex-col">
	<a href="#main" class="sr-only focus:not-sr-only focus:block focus:absolute left-0 top-0 bg-white font-bold">
		Sauter au contenu principal
	</a>
	<a class="flex flex-col md:flex-row mx-4 space-y-2 md:space-y-0 md:space-x-4 items-baseline"
		href="{{ get_url(path='', trailing_slash=true) }}">
		<img alt="Lili Bel" src="{{ get_url(path='img/lilibel.png') }}" class="max-h-20" />
		<img alt="plasticienne textile" src="{{ get_url(path='img/plasticienne.png') }}" class="max-h-12 pb-4" />
	</a>

	<nav class="mx-8 mt-4 text-lg flex flex-row flex-wrap md:justify-end">
		<ul class="flex flex-row flex-wrap space-x-2 align-center">
			{% set paths = [ "quelques-mots", "actualites", "parcours", "contact" ] %}
			{% set names = [ "Quelques Mots", "Actualités", "Parcours", "Contact" ] %}
			{% for path in paths %}
			<li class="pr-2 border-r border-stone-900 flex items-center">
				<a href="{{ get_url(path='/'~path, trailing_slash=true) }}">{{names[loop.index0]}}</a>
			</li>
			{%endfor%}
			<li class="flex space-x-2">
				<a href="https://www.youtube.com/channel/UCQVi1Hs1-4A861c6UEbfJCA" target="_blank" rel="noopener noreferrer">
					<img class="h-8 min-w-fit pr-1" src={{get_url(path='img/youtube.svg' )}} alt="youtube" />
				</a>
				<a href="https://www.instagram.com/lili_bel_plasticienne/" target="_blank" rel="noopener noreferrer">
					<img class="h-8 min-w-fit pr-1" src={{get_url(path='img/instagram.svg' )}} alt="instagram" />
				</a>
				<a href="https://www.facebook.com/lili.bel.923" target="_blank" rel="noopener noreferrer">
					<img class="h-8 min-w-fit pr-1" src={{get_url(path='img/facebook.svg' )}} alt="facebook" />
				</a>
			</li>
	</nav>

	<div aria-hidden class="w-full h-20 bg-cover lg:bg-contain bg-repeat-x"
		style="background-image: url('{{ get_url(path='img/fil.png') }}')">
	</div>
	{%set here = section | default(value=page) %}
	{%if here.ancestors is iterable and here.ancestors | length > 0 %}
	<nav class="mx-8 flex flex-row gap-x-4">
		<a class="flex items-center align-center" href="{{ get_url(path='') }}">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path fill-rule="evenodd" clip-rule="evenodd"
					d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" />
			</svg>
		</a>
		&gt;
		{# remove first ancestor which is home #}
		{% for ancestor in here.ancestors | slice(start=1) %}
		{% set section = get_section(path=ancestor, metadata_only=true) %}
		<a class="text-lg font-bold" href="{{ get_url(path=section.path, trailing_slash=true) }}">{{ section.title }}</a>
		&gt;
		{% endfor %}
		<a class="text-lg font-bold" href="{{ get_url(path=here.path, trailing_slash=true) }}">{{ here.title }}</a>
	</nav>
	{%endif%}
</header>
