{% extends "base.html" %}

{% block content %}

<main id="main" class="mx-4 flex flex-col items-center">
  <ul class="grid gap-y-4 gap-x-12 justify-center place-items-center grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
	{% for section_path in section.subsections %}
	{% set section = get_section(path=section_path) %}
    <li class="w-96">
      <a class="flex flex-col items-center space-y-2" href="{{ section.permalink }}">
				<img src="{{ get_url(path="img/square/" ~ section.extra.image ~ ".webp") }}" alt="" />
				<h2 class="text-xl font-bold">{{ section.title }}</h2>
      </a>
    </li>
	{% endfor %}
  </ul>

	{% include "bergere.html" %}
</main>

{% endblock content %}
