{% extends "base.html" %}

{% block content %}

<main id="main" class="mx-4 flex flex-col items-center">
	<section class="w-full md:w-[60rem] md:max-w-full flex flex-col items-center">

		<div class="w-full prose prose-p:text-black">
			<h1>{{page.title}}</h1>

			<p>{{ page.extra.annee }}</p>
			<p>{{ page.extra.dimensions }}</p>
			<p>{{ page.extra.techniques }}</p>
			<p>{{ page.extra.materiaux }}</p>
			<p>{{ page.extra.lieu }}</p>

			{{ page.extra.description_top | safe }}
		</div>

		<ul class="my-4 flex flex-col gap-y-4 gap-x-12 justify-center place-items-center grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
			{% for i in range(end=page.extra.nb_images) %}
			{% set image = "img"~i %}
			<li>
				<img class="w-full md:w-[60rem] md:max-w-full" src="{{ get_url(path="img/big/" ~ page.extra[image] ~ ".webp") }}" alt="" />
			</li>
			{% endfor %}
		</ul>

		<div class="w-full prose prose-p:text-black">
			{{ page.extra.description_bottom | safe }}
		</div>

		{% if page.extra.bergere %}
		{% include "bergere.html" %}
		{% endif %}

	</section>
</main>

{% endblock content %}
