{% extends "base.html" %}

{% block content %}

<main id="main" class="mx-4 flex flex-col items-center">
  <ul class="grid gap-y-4 gap-x-12 justify-center place-items-center grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
	{% for page in section.pages %}
    <li>
      <a class="flex flex-col items-center space-y-2" href="{{ page.permalink }}">
				<img class="w-96" src="{{ get_url(path="img/square/" ~ page.extra.image ~ ".webp") }}" alt="" />
				<h2 class="text-xl font-bold">{{ page.title }}</h2>
      </a>
    </li>
	{% endfor %}
  </ul>
</main>

{% endblock content %}
